@model List<TasaBCV>
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h2 class="mb-4">Tasa Actual BCV</h2>

    <table class="table table-bordered table-hover table-striped">
        <thead class="table-info">
            <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Moneda</th>
                <th>Valor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td>@row.id</td>
                    <td>@row.date</td>
                    <td>@row.symbol</td>
                    <td>@row.value</td>
                    <td>
                        <a class="btn btn-sm btn-primary me-1" asp-action="Edit" asp-route-id="@row.id">Editar</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@row.id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
